@use "../variables" as *;
@use "../mixins" as *;

.gallery {
  @include flex(row, 30px);

  margin-top: 90px;

  &__element {
    flex: 1;
  }

  &__img {
    height: 420px;
    object-fit: cover;
    width: 100%;

    &--centered {
      object-position: 20%;
    }
  }

  &__image-description {
    margin-top: 30px;
    text-align: center;

    p {
      &:first-of-type {
        font-size: 14px;
        color: $gray-dark-color;
        font-weight: 500;
        text-transform: uppercase;
      }

      &:last-of-type {
        margin-top: 10px;
        font-size: 15px;
        font-family: $third-font;
        font-style: italic;
        color: $gray-color;
      }
    }
  }
}
