@use "../variables" as *;

.btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms;

  &:active {
    scale: 0.97;
  }

  &--primary {
    border: 2px solid $white-color;
    padding: 10px 30px;

    &:hover,
    &:focus {
      background-color: $white-color;
      color: $pink-color;
      outline: none;
    }
  }

  &--secondary {
    padding: 15px 35px;
    background-color: $green-color;

    &:hover,
    &:focus {
      background-color: $yellow-color;
      color: $pink-color;
      outline: none;
    }
  }
}
